{% extends "base.html" %}

{% load admin_static admin_modify i18n %}

{% block title %}
    Book form
{% endblock title %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
{% endblock extracss %}

{% block content %}
<div class="container">
    <form action="." method="POST" class="form-horizontal">
        {{ form.media }}
        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <div class="col-3 col-sm-12">
                {{ field.label }}
            </div>
            <div class="col-9 col-sm-12">
                {{ field }}
                {% for err in field.errors %}
                    <span class="form-input-hint">{{ err }}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% csrf_token %}
        <div class="form-group">
            <p>
                <a href="{% url 'authors:create' %}" class="btn btn-link btn-sm"><i class="icon icon-plus"></i></a>
                Add new Author
            </p>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </form>
    {{ block.super }}
</div>
{% endblock content %}